<form [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price" required />
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Category</mat-label>
      <input matInput formControlName="category" required />
    </mat-form-field>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" />

    <div *ngIf="imagePreview" class="image-preview">
      <p>Preview:</p>
      <img [src]="imagePreview" alt="Image preview" class="preview-img" />
    </div>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">
      Add Product
    </button>
  </form>
  