
<h2 class="product-title">Mon panier</h2>
<div class="product-list">
  <mat-card *ngFor="let product of products" class="product-card">
    <img mat-card-image [src]="product.imageUrl"  alt="{{ product.title }}">
    <mat-card-content>
    <mat-card-title><strong>{{ product.title }}</strong></mat-card-title>
      <p>{{ product.description }}</p>
      <p><strong>Price:</strong> {{ product.price }} €</p>
      <p><strong>Category:</strong> {{ product.category }}</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="confirm-buy-button">
  <button mat-raised-button color="accent" (click)="buyBasket()">Confirmer & Acheter</button>
</div>
