.product-list {
margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.product-card {
  width: 300px;       
  height: 350px;      
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card img {
  height: 100px;
  min-height: 100px;
  object-fit: contain;  
}
.title-bar {
  position: relative;
  text-align: center;
  margin: 1rem;
}


.total-price {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.status-filter {
  width: 200px;
  margin-bottom: 16px;
}

.Available {
  background-color: #e0f7fa; 
}

.Bought {
  background-color: #cdffea;
}

.Basket {
  background-color: #fff9c4; 
}
.filter-container {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}