<div class="title-bar">
  <h2 class="product-title">Mes produits</h2>
  <span class="total-price">Gains totaux: {{ totalGains ?? 0 }} €</span>
</div>
<div class="filter-container">
  <mat-form-field appearance="outline" class="status-filter">
    <mat-label>Filtrer par statut</mat-label>
    <mat-select [(value)]="selectedStatus">
      <mat-option value="">Tous</mat-option>
      <mat-option *ngFor="let status of productStatuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="product-list">
  <mat-card *ngFor="let product of filteredProducts()" 
            class="product-card"
            [ngClass]="product.productStatus">
    <img mat-card-image [src]="product.imageUrl" alt="{{ product.title }}"  class="fixed-image">
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-content>
      <p>{{ product.description }}</p>
      <p><strong>Price:</strong> {{ product.price }} €</p>
      <p><strong>Category:</strong> {{ product.category }}</p>
      <p><strong>Statut:</strong> {{ getStatusFrenchName(product.productStatus) }}</p>
    </mat-card-content>
  <mat-card-actions>
    <button *ngIf="product.productStatus == 'Available'" mat-raised-button color="primary" (click)="openProductDialog(product)">
      Modifier
    </button>
    <button *ngIf="product.productStatus =='Bought' && product.deliveryStatus != 'ToPickAtArtist' && product.reviewComment != ''" mat-raised-button color="primary" (click)="openReviewDialog(product)">
      Voire l'avis
    </button>
    <button *ngIf="product.deliveryStatus == 'ToPickAtArtist' && product.productStatus == 'Bought'" mat-raised-button color="primary" (click)="setProductAsPickedUp(product)">
      Mettre que l'article à été récupéré par le livreur
    </button>
  </mat-card-actions>
  </mat-card>
</div>
