<div class="page-container">
  <div class="title-bar">
    <h2 class="title">Utilisateurs</h2>
  </div>

  <div class="filter-container">
    <mat-form-field appearance="outline" class="status-filter">
      <mat-label>Filtrer par statut</mat-label>
      <mat-select [(value)]="selectedRole">
        <mat-option value="">Tous</mat-option>
        <mat-option *ngFor="let role of userRoles" [value]="role">{{ role }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="inline-user-list">
    <div *ngFor="let user of filteredUsers()" class="inline-user-item" [ngClass]="user.role">
      <strong>{{ user.email }}</strong>
      <div> {{ user.role }}</div>
      <div *ngIf="user.deleted"
              mat-button 
              color="primary" 
              (click)="deleteUser(user)">
        A été supprimé
    </div>
      <button *ngIf="!user.deleted"
              mat-button 
              color="primary" 
              (click)="deleteUser(user)">
        Supprimer
      </button>
    </div>
  </div>
</div>
