<h2 mat-dialog-title>Laisser un avis</h2>
<mat-dialog-content >
  <mat-form-field appearance="fill" style="width: 100%;" >
    <mat-label>Votre commentaire</mat-label>
    <textarea [readonly]="!isEditable" matInput [(ngModel)]="reviewText" ></textarea>
  </mat-form-field>
  <div>
    Donne une note à ton nouveau produit
  </div>
  <div class="rating-stars">
  <mat-icon
    *ngFor="let star of [1, 2, 3, 4, 5]"
    (click)="rateProduct(star)">
    {{ star <= rating ? 'star' : 'star_border' }}
  </mat-icon>
</div>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Annuler</button>
  <button *ngIf="isEditable" mat-button color="primary" (click)="submitReview()">Envoyer</button>
</mat-dialog-actions>
</mat-dialog-content>