.rating-stars {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.rating-stars mat-icon {
  cursor: pointer;
  color: #ffca28;
  font-size: 32px;
}

.full-width {
  width: 100%;
}
::ng-deep mat-dialog-content {
  width: 100%;
  display: block;
}