<h2 mat-dialog-title>Avis sur le produit</h2>
<mat-dialog-content >
  <mat-form-field appearance="fill" style="width: 100%;" >
    <mat-label> Commentaire</mat-label>
    <textarea [readonly]="!isCustomer" matInput [(ngModel)]="reviewText" ></textarea>
  </mat-form-field>
  <div>
    Note
  </div>
  <div class="rating-stars">
  <mat-icon
    *ngFor="let star of [1, 2, 3, 4, 5]"
    (click)="rateProduct(star)">
    {{ star <= rating ? 'star' : 'star_border' }}
  </mat-icon>
</div>
  <mat-form-field appearance="fill" style="width: 100%;" >
<mat-label>Réponse de l'artiste</mat-label>
<textarea [readonly]="isCustomer" matInput [(ngModel)]="responseText" ></textarea>
  </mat-form-field>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Annuler</button>
  <button *ngIf="isCustomer" mat-button color="primary" (click)="submitReview()">Envoyer</button>
  <button *ngIf="!isCustomer" mat-button color="primary" (click)="submitResponse()">Envoyer</button>
</mat-dialog-actions>
</mat-dialog-content>